* {
    border box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px, 30px;
    font-size: 17px;
    padding: 8px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

input [type="text"],
input [ type="number"],
input [ type="email"],
input [ type="password"],
input [type="date"],
select,
{
    width: 100px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: "5px";
    margin: 10px
}

textarea {
    height: 100px;
    width: 730px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}

fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 800px;
}

input[type=submit] {
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #4caf84;
}

.main_heading {
    text-align: center;
}